html {
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content:" ";
    display:block;
    clear:both;
}

body {
    background-color: #efefef;
    color: #333;
    margin: 0;
    padding: 0;
    font: 100%/1.55 "Open Sans", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

h1, h2, h3, h4, h5 {
    font-family: "Roboto Slab", Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin: 0 0 .5em 0;
    padding: 0;
}

h1 {
    font-size: 2.823em;
}

h2 {
    font-size: 2.645em;
}

h3 {
    font-size: 2.479em;
}

h4 {
    font-size: 2.323em;
}

p {
    padding: 0;
    margin: 0 0 1em 0;
}

.example-header .inner {
    max-width: 800px;
    margin: 40px auto 0 auto;
    padding: 0 20px;
}

.example-header .meta {
    list-style: none;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
}

.example-header .meta .index {
    margin-left: auto;
}

.example-header .meta li {
    margin: 0 20px;
    font-size: 0.823em;
}

.example {
    max-width: 800px;
    margin: 0 auto 1em auto;
    background-color: #fff;
    padding: 20px;
   /* border-radius: 5px;*/
   
}